#ignore mac os database files
**/.DS_Store

#ignore lightning logs
**/lightning_logs/

#ignore jupyter notebook checkpoints
**/.ipynb_checkpoints/

#ignore vscode related files
**/.vscode

#ignore zipped files
**/*.gz

#ignore data batch files
**/*data*batch*
**/cifar-10-batches-py

#ignore binary files
**/*ubyte

#ignore saved models
**/models/*.pt
**/saved_model/*.pt
**/models/**/*.json
**/models/**/*.safetensors

#ignore img data files
**/data/**/*.jpg

#ignore downloaded MNIST folder
**/data/**/MNIST/

#ignore __pycache__ files
**/__pycache__